<!DOCTYPE html>
<html>
  
 <div class="col-md-6 col-md-offset-3">
    <h1>blocChat-3</h1>
    <p>Enter new chat room</p>
    <button type="button" class="btn btn-default" ng-click="home.open($value)">Add Room</button>  
</div>


    <div class="    " ng-click="home.select(room.$id)" ng-repeat="room in home.Rooms"> 
        <p>
            <!--  add ng-click script  (HomeCtrl.js) home.open($value) -->
            <!-- <button type="button" class="btn btn-default ng-click="Message.open"> {{ room.$value }} </button> -->
            <button type="button" class="btn btn-default" ng-click="">  {{ room.$value }} </button>  
            <!-- {{ room.$value }}  -->       
        </p>
        
    </div>





<!--  <h1>Home Page home.html </h1>
<h2>This is where the chat rooms should be listed</h2>

    <button class="btn btn-primary" type="button" ng-click="openModal()">Add room</button>
<div class="modal-footer">
    
</div>
<section class="    ">
    <div class="    " ng-repeat="room in home.Rooms"> 
        
              ng-repeat="room in home.Rooms">  
            <p>
        
                {{ room.$value }}
        
            </p>   
    
    </div>


</section>  -->