<!DOCTYPE html>
<html>
  
<div class="col-md-6 col-md-offset-3">
    <h1>blocChat-3</h1>
    <p>Enter New chat room</p>
    <button type="button" class="btn btn-default" ng-click="home.open($value)">Add Room</button>  
</div>


<div class="  " ng-click="home.select(room.$id)" ng-repeat="room in home.Rooms"> 
    <p>
        <button type="button" class="btn btn-default" ng-click="Message.open(room.$value)">  {{ room.$value }} </button>                     
    </p>        
</div>
    
<div ng-repeat="message in home.Messages" >
    
    <p></p>
    <p>Posted by: {{ message.username}}</p>
    <p>When: {{ message.sentAt | date : "shortTime"}}</p>
    <p>Message: {{ message.content }}</p>
    <p></p>
    
</div>
    
    <div class="search-box">
        <form ng-submit="ok()">
            
            <div class="input-group animated fadeIn">

                <input type="text" class="form-control finderBar" ng-model="home.newMessage" placeholder="Please enter a chat room message" autofocus>

                <span class="input-group-btn">
                    <button class="btn btn-default btn-success" type="button" ng-click="home.addMessage()">Add Message</button>
                </span>

            </div>
        </form>
          <!--  {{ modal.roomerror }}  -->
       </div>  
    

    <!--  input type="text">    class="form-control finderBar" ng-model="">  -->
</html>




