<div class="messae-header">
    <h2 class="message-title">Chat Room</h2>
</div>

<div class="  "  ng-repeat="room in home.Rooms"> 
        <p>
            <!--  <button type="button" class="btn btn-default"   ng-click="{{room.$value }}"></button>  -->
            {{ room.$value }}
                                                         
        </p>   
</div>                       
                         


<!--  
<div class="    " ng-repeat="room in home.Rooms"> 
        <p>
            {{ room.$value }}
        </p>   
    </div
 -->